:root {
  width: 99.9%;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  width: 70%;
}
